<html>
<head>
</head>
<body bgcolor=white>
<table border=0 width=100% height=100%>
<tr><td align=center valign=center>
KOHA IS STOPPED DUE TO CHECKSUM MISMATCH IN SYSTEM PREFERENCES. PLEASE CONTACT YOUR SYSTEM ADMINISTRATOR.
</td></tr>
</table>
</body>
</html>
